body{
    border: 5px solid black;
    border-radius: 50px;
    text-align: center;
    margin:100px 5000px 200px 500px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}

footer.left{
    grid-column:0/1;
}
#center{
    grid-column: 1/2;
}
#right{
    grid-column: 2/3;
}